<!--
  Generated template for the SelesaipesanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon class="menuu" name="menu"></ion-icon>
        </button>
        <ion-title>Isi Duit</ion-title>
      </ion-navbar>
</ion-header>
  
<ion-content>
  <ion-card>
    <ion-card-content>
        <h1 style="text-align:center; margin-bottom: 20px;"> Perihal yang harus dibayar</h1>
        <ion-list>
          <ion-item>
              <h5>Jumlah Transfer</h5>
              <h4>Rp.{{jumlah}}</h4>
          </ion-item>

          <ion-item>
              <h5>Berita Transfer</h5>
              <h4>ABC2029</h4>
          </ion-item>

          <ion-item>
              <h5>Rekening Tujuan</h5>
              <h4>{{bank}}</h4>
              <h4>882983929</h4>
              <h4>Pengemis Online Jaya</h4>
          </ion-item>

          

          
              <p align="justify" style="font-size: 14px; margin-top : 20px;">
                Silahkan transfer sesuai jumlah yang tertera dan cantumkan Berita/Remarks Transfer: ABC2029 saat transfer di bank. 
                Pembayaran di atas pukul 21.00 WIB akan diproses keesokan harinya
              </p>
          

  <button style="margin-top:20px;" ion-button block type="submit" (click)="notif()" >Cek Notifikasi</button>
        </ion-list>
        </ion-card-content>
        </ion-card>
        


</ion-content>
  