page-permintaan {
    .toolbar-background {
        background-color: #f44336;
      }

    .font-tittle{
        color  : #f8f8f8;
    }
    
    .custom-icon{
        color  : #f8f8f8;
    }

    .menuu{
        color  : #f8f8f8;
    }
}
