<!--
  Generated template for the PermintaanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon class="menuu" name="menu"></ion-icon>
    </button>
    <ion-title>
      Permintaan
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-tabs tabsPlacement="top" style="background-color: #ffffff;">
    <ion-tab class="custom-icon" [root]="permintaanmasukRoot" tabTitle="Permintaan Masuk"></ion-tab>
    <ion-tab [root]="permintaanditerimaRoot" tabTitle="Permintaan diterima"></ion-tab>
  </ion-tabs>

</ion-content>




