<!--
  Generated template for the NotifPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menuu" name="menu"></ion-icon>
    </button>
    <ion-title>Pesanan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-tabs tabsPlacement="top">
    <ion-tab [root]="pesananpendingRoot" tabTitle="Pesanan Pending"></ion-tab>
    <ion-tab [root]="pesananmasukRoot" tabTitle="Pesanan Diterima"></ion-tab>
  </ion-tabs>
</ion-content>
