<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menuu" name="menu"></ion-icon>
    </button>
    <ion-title>Notifikasi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


<ion-tabs tabsPlacement="top">
  <ion-tab [root]="notifharianRoot" tabTitle="Hari ini"></ion-tab>
  <ion-tab [root]="notifsemuaRoot" tabTitle="Semua"></ion-tab>
</ion-tabs>

</ion-content>