<!--
  Generated template for the ProfilePengemisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Detail Pengemis</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    
    
    
    <ion-content padding>
      <ion-grid>
          <ion-row>
            
            <ion-col col-6>
              <ion-avatar item-start>
                <img class = "profilePicture" 
                  [src]="parseUrl(UserData.profile_picture)"
                  (click)="ChangeProfilePicture()">
              </ion-avatar>
            </ion-col>

            <ion-col col-6>
              <ion-row>
                  <h5>{{UserData.name}}</h5>
              </ion-row>
              <ion-row>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-5>
                          <h6 style="text-align:left; color:#888888">Level </h6>
                        </ion-col>
                        <ion-col col-3>
                            <h6 style="text-align:left; color: #f44336; ">76</h6>
                    
                        </ion-col>
                    </ion-row>
                  </ion-grid>
              </ion-row>
              <ion-row>
                  <button style="margin-bottom:15px; width:100%; padding:5px, 0px, 5px, 0px;" (click)="GoToDonasi()" ion-button>Donasi</button>
              </ion-row>
             
              
            </ion-col>
          </ion-row>
    
          <ion-textarea [readonly]='true' placeholder="Suck ur dick, fuck my pussy" style="border:2px solid #888888;" [(ngModel)] = "UserData.deskripsi"></ion-textarea>
        </ion-grid>

        <h6 style="text-align:center">DAFTAR JASA YANG TERSEDIA</h6>
    
        <ion-card *ngFor="let jasa of ListOfJasa" style="padding:1px;">
            <ion-card-header>
              <h1>{{jasa.nama}}</h1>
              </ion-card-header>
              <div style="border-bottom: 2px solid; color:#f44336; width:90%; 
                                  text-align:center; border-radius: 15px 1000px 30px 5px;"></div>
              <ion-card-content style="padding:15px; overflow: hidden; text-overflow: ellipsis;">
                <div>
                  <p>{{jasa.deskripsi}}</p>
                </div>
                <div>
                    <br>
                    <h2 style="float:left; color:#f44336; padding-top: 15px;"><b>Rp.{{jasa.harga}}</b></h2> 
                    <button ion-button style="float:right; margin-bottom:15px" (click)="inputDataPemesan(user, jasa)">Pesan</button>
                </div>
              
              </ion-card-content>        
              
        </ion-card>
    
    </ion-content>
    
    