<!--
  Generated template for the PesananpendingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
      <ion-list>
          <ion-item-divider *ngFor="let data of dataPesanan; index as i" style="border-bottom: 1px solid grey; padding:0px;">
              <ion-grid style="font-size:12px; white-space: normal;">
                  <ion-row class="test">
                      <ion-col col-6 style="word-wrap: break-word;">
                            <ion-row>
                                
                                    <h5 style="font-size:10px;color:rgb(24, 24, 24);">Judul jasa yang dipesan</h5>
                                    <h5 style="color:rgb(24, 24, 24);">{{jasaPesanan[i].nama}}</h5>
                              
                              </ion-row>

                             <br>

              <ion-row>
                <h6 style="font-size:10px">Informasi Pengemis</h6>
              </ion-row>

                                <ion-row style="text-align:left">
                                    <ion-col>
                                      <h5 style="color:rgb(24, 24, 24); font-size:10px">Nama</h5>
                                      <h5 style="color:rgb(24, 24, 24); font-size:12px">{{userPengemis[i].name}}</h5>
                                    </ion-col>
                                  </ion-row>

                                  <ion-row style="text-align:left">
                                      <ion-col>
                                          <h5 style="color:rgb(24, 24, 24); font-size:12px">Nomor HP</h5>
                                          <h5 style="color:rgb(24, 24, 24); font-size:12px">{{userPengemis[i].telefon}}</h5>
                                      </ion-col>
                                    </ion-row>

                                    <ion-row style="text-align:left">
                                        <ion-col>
                                            <h5 style="color:rgb(24, 24, 24); font-size:10px">Email</h5>
                                            <h5 style="color:rgb(24, 24, 24); font-size:12px">{{userPengemis[i].email}}</h5>
                                        </ion-col>
                                      </ion-row>
      
                                      
                                      </ion-col>

                                      <ion-row style="text-align:left">
                                          <ion-col>
                                            <h5 style="color:rgb(24, 24, 24); font-size:10px">Harga</h5>
                                            <h5 style="color:rgb(24, 24, 24); font-size:12px">{{jasaPesanan[i].harga}}</h5>
                                          </ion-col>
                                        </ion-row>
                                        
                                      <ion-col col-6>
                                        <ion-row>
                                          <p style="text-align:right">{{dataPesanan[i].jam_bertemu}}</p>
                                        </ion-row>
                          
                                        <br><br><br>
                          
                                        <ion-row>
                                          <h6 style="font-size:10px">Informasi pertemuan</h6>
                                        </ion-row>
                          
                                        <ion-row style="text-align:left">
                                          <ion-col>
                                            <h5 style="color:rgb(24, 24, 24); font-size:10px">Status</h5>
                                            <h5 style="color:rgb(24, 24, 24); font-size:12px">Bertemuan</h5>
                                          </ion-col>
                                        </ion-row>
                          
                                        <ion-row style="text-align:left">
                                          <ion-col>
                                            <h5 style="color:rgb(24, 24, 24); font-size:10px">Tanggal Bertemuan</h5>
                                            <h5 style="color:rgb(24, 24, 24); font-size:12px">user@user.com</h5>
                                          </ion-col>
                                        </ion-row>
                                        
                                        <ion-row>
                                          <ion-col>
                                              <h5 *ngIf="dataPesanan[i].bertemu" style="color:rgb(24, 24, 24); font-size:12px">Bertemuan</h5>
                                              <h5 *ngIf="!dataPesanan[i].bertemu" style="color:rgb(24, 24, 24); font-size:12px">Tidak ketemuan </h5>
                                              <h5 style="color:rgb(24, 24, 24); font-size:12px; word-wrap:break-word; word-break:break-all;
                                                padding-left:4px">
                                                Jalan asdasdasdasdadsadadsasdasaaaa asdasdasda asdasd asd asd asd asd asd as aaaaaaaaaaaa Kelapa lilin raya DD3 nomor.28
                                              </h5>
                                          </ion-col>
                                            
                                        </ion-row>


                                        <ion-row style="text-align:left">
                                            <ion-col>
                                              <h5 style="color:rgb(24, 24, 24); font-size:12px">Alamat</h5>
                                            
                                              <h5 style="color:rgb(24, 24, 24); font-size:12px; word-wrap:break-word; word-break:break-all;">
                                                  {{dataPesanan[i].alamat}}
                                              </h5>
                                            </ion-col>
                                          </ion-row>
                          
                                      </ion-col>
                                    </ion-row>
                
              </ion-grid>

              <ion-grid>
                  <ion-row>
                    <ion-col col-4></ion-col>
                    <ion-col col-4>
                        <button style="margin-bottom:15px; margin: center;height: 30px" ion-button>Batal</button>
                    </ion-col>
                    <ion-col col-4></ion-col>
                  </ion-row>
                </ion-grid>
             
            
          </ion-item-divider>
          </ion-list>
          
  </ion-content>
