<!--
  Generated template for the BadutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>badut</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
badut
</ion-content>
