page-home {
    .toolbar-background {
        background-color: #f44336;
      }

    .atas{
        background-color: #f8f8f8;
    }

    ion-tabs{
        background: rgba(0, 0, 0, 0.5);

    } 

    .custom-icon{
        color  : #f8f8f8;
    }

    .menuu{
        color  : #f8f8f8;
    }

    .tabs-md .tabbar {
        background: #f8f8f8;
}

.tabs-md .tab-button[aria-selected=true] {
    color: #f44336;
    padding: 0;
}

.tabs-md .tab-button {
    min-height: 5.6rem;
    font-weight: normal;
    color: #000000;
    padding: 0;
}

page-home .tabs-md .tabbar {
    background: #f8f8f8;
}


ion-content ion-searchbar input.searchbar-input {
    background-color: red;
    border-color: red;
    color: white;
    box-shadow: none;
}

}

