<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="custom-icon">
      <ion-icon class="menuu" name="menu" ></ion-icon>
    </button>
    <ion-title>
      <ion-grid>
          <ion-searchbar
            [(ngModel)]="keyword"
            [showCancelButton]="shouldShowCancel"
            (change)="SearchResult($event)"
            placeholder="Cari..."
          >
        </ion-searchbar>
        
      
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-grid>
    <!-- start -->
    <ion-row *ngFor="let user of listOfJasaHome">
      <p *ngIf="CekListCount()">Tidak ada Jasa</p>
      <ion-col col-12 style="padding:1px;" *ngFor="let jasa of user.jasa">
        <ion-card style="padding:1px;" > 
              <ion-item (click)="SeeDetailPengemis(user)">
                <ion-avatar item-start>
                  <img [src]="parseUrl(user.pengemis.profile_picture)">
                </ion-avatar>
                <h2>{{user.pengemis.name}}</h2>
                <ion-grid>
                    <ion-row style="text-align:left">
                      <ion-col col-2>
                          <h6 style="text-align:left; color:#888888">Level </h6>
                        </ion-col>
                        <ion-col col-3>
                            <h6 style="color: #f44336; text-align:left"><b>{{user.pengemis.level}}</b></h6>
                    
                        </ion-col>
                    </ion-row>
                  </ion-grid>
              </ion-item>
              
              <ion-card-content style="padding:5px;">
                <ion-card>
                    <ion-card-header (click)="SeeDetailPengemis(user)">
                       <h1 style="float:left;">{{jasa.nama}}</h1>
                      </ion-card-header>
                        <div style="border-bottom: 2px solid; color:#f44336; width:90%; 
                                  text-align:center; border-radius: 15px 1000px 30px 5px;"></div>
                        <ion-card-content style="padding:15px; overflow: hidden; text-overflow: ellipsis;">
                        <div> 
                      
                          <p (click)="SeeDetailPengemis(user)"> {{potongDeskripsi(jasa.deskripsi)}} </p>
                          <a style="color:#70707044;" (click)="SeeDetailPengemis(user)"><i>... read more</i></a>
                            
                        </div>
                        <div>
                          <br>
                          <h2 style="float:left; color:#f44336; padding-top: 15px;" (click)="SeeDetailPengemis(user)"><b>Rp.{{jasa.harga}}</b></h2> 
                          <button style="float:right; margin-bottom:15px" ion-button (click)="PesanJasa(user, jasa)">Pesan</button>
                        </div>
                          
                      </ion-card-content>
                      
                      
                </ion-card> 
                 
                <!-- <ion-card style="border:2px solid black;">
                    <ion-card-header style="border-bottom:2px solid black;padding:1px;">
                       <p style="float:left;font-size:10px">Tugas Mobile 2</p>
                       <p style="float:right;font-size:10px">Rp.80.000</p> 
                      </ion-card-header>
                      <ion-card-content style="padding:1px;">
                          <p style="float:left;font-size:10px"> Bisa Ngerjain Mobile 2 </p>
                      </ion-card-content>
                </ion-card>   -->
            </ion-card-content>
              
          </ion-card>

      </ion-col>
      <!-- <ion-col col-6 style="padding:1px;">
          <ion-card style="padding:1px;"> 
              <ion-item>
                <ion-avatar item-start>
                  <img src="https://pbs.twimg.com/profile_images/684416030874013696/hICN7ttp.jpg">
                </ion-avatar>
                <h2 style="font-size:10px;">Anish Nirmal</h2>
                <p style="font-size:10px;">Level: 5</p>
              </ion-item>
              
              <ion-card-content style="padding:1px;">
                  <ion-card style="border:2px solid black;">
                      <ion-card-header style="border-bottom:2px solid black;padding:1px;">
                         <p style="float:left;font-size:10px">Tugas Mobile 2</p>
                         <p style="float:right;font-size:10px">Rp.80.000</p> 
                        </ion-card-header>
                        <ion-card-content style="padding:1px;">
                            <p style="float:left;font-size:10px"> Bisa Ngerjain Mobile 2 </p>
                        </ion-card-content>
                  </ion-card>   
              
          
                  <ion-card style="border:2px solid black;">
                      <ion-card-header style="border-bottom:2px solid black;padding:1px;">
                         <p style="float:left;font-size:10px">Tugas Mobile 2</p>
                         <p style="float:right;font-size:10px">Rp.80.000</p> 
                        </ion-card-header>
                        <ion-card-content style="padding:1px;">
                            <p style="float:left;font-size:10px"> Bisa Ngerjain Mobile 2 </p>
                        </ion-card-content>
                  </ion-card>  
            </ion-card-content>
            <a href="" style="float:right;padding:1px;font-size:10px;">Stalk user ini</a>
          </ion-card>
      </ion-col> -->
    </ion-row>
  <!-- end -->  
  </ion-grid>
</ion-content>
