  <!--
  Generated template for the ProfilePengemisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Donasi </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  
  
  
  <ion-content padding>
    <form [formGroup]="donasiForm">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-avatar item-start>
              <img class = "profilePicture" 
              [src]="parseUrl(user.pengemis.profile_picture)"
                style="width:100%">
            </ion-avatar>
          </ion-col>
          <ion-col col-6>
              <ion-row>
                  <h5>{{user.pengemis.name}}</h5>
              </ion-row>
              <ion-row>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-5>
                          <h6 style="text-align:left; color:#888888">Level </h6>
                        </ion-col>
                        <ion-col col-3>
                            <h6 style="text-align:left; color: #f44336; ">{{user.pengemis.level}}</h6>
                    
                        </ion-col>
                    </ion-row>
                  </ion-grid>
              </ion-row>
            
          </ion-col>
        </ion-row>

        <ion-textarea [readonly]='true' style="border:2px solid #888888;">{{user.pengemis.deskripsi}}</ion-textarea>

  

      </ion-grid>

      <h2 style="text-align:center">Saldo Anda: {{loggedInUser.saldo}}</h2>

      <ion-card>
        <ion-card-header>
          <h2>Silahkan masukkan donasi anda</h2>
        </ion-card-header>
        <div style="border-bottom: 2px solid; color:#f44336; width:90%; 
                                  text-align:center; border-radius: 15px 1000px 30px 5px;"></div>
        <ion-card-content style="padding:15px; overflow: hidden; text-overflow: ellipsis;">

            <ion-item>
                <ion-input type="number" placeholder="Donasi" formControlName="donasi"></ion-input>
            </ion-item>

            <button ion-button style="
            float:right; margin-bottom:15px" (click)="donasialert()" [disabled]="!donasiForm.valid">Donasi</button>

        </ion-card-content>
      </ion-card>

     
    </form>
    
     
  </ion-content>
  
  
  