<!--
  Generated template for the KonfirmasiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pemesanan</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h2 style="text-align:center">Konfirmasi Pemesanan</h2>
  <ion-item>
      <ion-avatar item-start>
        <img src="https://pbs.twimg.com/profile_images/684416030874013696/hICN7ttp.jpg">
      </ion-avatar>
      <h2 style="font-size:20px;">Anish Nirmal</h2>
      <p style="font-size:20px;">Level: 5</p>
      <p style="font-size:20px;">Rp 50.000</p>
    </ion-item>
    <ion-card style="border:2px solid black;">
        <ion-card-header style="border-bottom:2px solid black;padding:1px;">
           <p style="float:left;font-size:20px">Tugas Mobile 2</p>
           
          </ion-card-header>
          <ion-card-content style="padding:1px;">
              <p style="float:left;font-size:20px"> Bisa Ngerjain Mobile 2 </p>
          </ion-card-content>
    </ion-card> 
    <p style="font-size:20px">Dengan data pemesan, 
      <br> Nama: Agung
      <br> Email: user@user.com 
      <br> Nomor HP: 086272937281
      <br> Alamat :
      <br> Jalan Kelapa lilin raya DD3 nomor 28, Sektor 7a, Gading Serpong, Tangerang 
    </p>
    <ion-grid>
      <ion-row>
        <ion-col>
            <button style="width:80px; height:40px;" type="submit">Kembali</button>
        </ion-col>
        <ion-col>
            <button ion-button type="submit" style="float:right">Pesan</button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
