<!--
  Generated template for the SelesaipesanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Tarik Uang</ion-title>
      </ion-navbar>
    
  </ion-header>q
  
  <ion-content>
          <h2 style="text-align:center">Penarikan Uang</h2>
  

  
          <p style="font-size:20px; text-align:center">Saldo yang anda tarik sebesar<br>Rp.{{jumlah}}<br><br>Sisa saldo anda sekarang sebesar<br>Rp.{{user.saldo-jumlah}}</p>
         
          <br><br>
          <p style="font-size:20px;text-align:center">Uang anda akan ditransfer ke<br> Rekening: {{user.jenis_bank}}<br>Nomor rekening: {{user.nomor_rekening}}<br>Atas Nama: {{user.name}}</p>
          <br>
          <br>

          
   <button ion-button block type="submit" (click)="notif()" >Cek Notifikasi</button>
  
  </ion-content>
  