<!--
  Generated template for the SelesaipesanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon class="menuu" name="menu"></ion-icon>
      </button>
      <ion-title>Pemesanan</ion-title>
    </ion-navbar>
  
</ion-header>q

<ion-content>
  <div style="text-align:top">
      <h1 style="text-align:center">Terima Kasih</h1>
      <p style="text-align:center">telah memakai</p>
  </div>
        

    
            
     
            <ion-grid>
                <ion-row>
                  <ion-col col-3>
                
                  </ion-col>
                  <ion-col col-6>  <img src="assets/imgs/logo2.png" style="text-align:center;width:100%;height:100%" ></ion-col>
                  <ion-col col-3></ion-col>
                  
                </ion-row>
            </ion-grid>

            <p style="text-align:center;font-size:    4vw;">
              Pemesanan anda sedang diproses dan tinggal menunggu jawaban dari penyedia jasa<br>
              <br>Silahkan buka <b>halaman pemesanan</b> untuk melihat status pemesanan</p>
        
              <div style="padding:20px">
                  <button style="text-align:center; padding:20px" ion-button block type="submit" (click)="notif()" >Cek Pemesanan</button>
              </div>
        
        <br><br>
       

</ion-content>
