page-selesaipesan {

    // img  {
    //     width:100% !important;
    //     height : 100% !important;
    //     max-width: 100px !important;  //any size
    //     max-height: 100px !important; //any size
    //     text-align: center;
      
    //     }
    .back-button-icon-md {
        color: #f8f8f8;
    }

    .menuu{
        color  : #f8f8f8;
    }

}
