page-signin {
    .background {
		background-image: url('../assets/bg.jpg');
	}

	.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	ion-card.card {
		box-shadow: none;
		background: rgba(236, 236, 236, 0.5);
		border-radius: 5px;
	}

	a, p,
	ion-card-header.card-header {
        color: #202020!important;
        
	}

	.list > .item-block:first-child {
		border: medium none;
	}

	.item {
		margin-bottom: 10px;
		border: medium none;

		
	}

	.icon {
		padding-right: 10px;
	}

	.bottom {
		position: absolute;
		bottom: 0;
	}
}
