<ion-content>
    <form [formGroup]="signinForm">
			<img src="assets/imgs/logo2.png" style="width: 40%; height:auto; padding-top:0px">
	<ion-card>
		<ion-card-content>
			<ion-list no-line>
				<ion-item>
					<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
				</ion-item>
				
				<button ion-button type="submit" block [disabled]="!signinForm.valid" (click)="onSubmit()">Masuk</button>


				
				
			</ion-list>
		</ion-card-content>
  </ion-card>
</form>
	<button  ion-button clear full color="primary" type="submit" block (click)="toSignup()">Belum punya akun?</button>
	<button daftar ion-button clear full color="primary" type="submit" block (click)="toSignup()"><b> Daftar di sini </b></button>
</ion-content>
