  <!--
  Generated template for the ProfilePengemisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon class="menuu" name="menu"></ion-icon>
      </button>
      <ion-title>Tarik Uang</ion-title>
    </ion-navbar>
  
  </ion-header>

  <ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-avatar item-start>
              <img class = "profilePicture" 
              src="https://pbs.twimg.com/profile_images/684416030874013696/hICN7ttp.jpg"
                style="width:100%">
            </ion-avatar>
          </ion-col>

          <ion-col col-6>
              <ion-row>
                  <h5>{{loggedInUser.name}}</h5>
              </ion-row>
              <ion-row>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-5>
                          <h6 style="text-align:left; color:#888888">Level </h6>
                        </ion-col>
                        <ion-col col-3>
                            <h6 style="text-align:left; color: #f44336; ">{{loggedInUser.level}}</h6>
                    
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-5>
                          <h6 style="text-align:left; color:#888888">Saldo Anda </h6>
                        </ion-col>
                        <ion-col col-7>
                          <h6 style="text-align:left; color: #f44336; ">{{loggedInUser.saldo}}</h6>
                        </ion-col>
                              

                    </ion-row>

                  </ion-grid>
              </ion-row>
              
            
          </ion-col>

        </ion-row>
  
       
        



       </ion-grid> 

       <h4 style="text-align:center">Minimal Penarikan Rp.10.000</h4>

       <ion-card>
         <ion-card-header>
           <p style="font-size:13px;">Silahkan masukkan uang yang anda ingin tarik</p>
         </ion-card-header>
         <div style="border-bottom: 2px solid; color:#f44336; width:90%; 
                                   text-align:center; border-radius: 15px 1000px 30px 5px;"></div>
         <ion-card-content style="padding:15px; overflow: hidden; text-overflow: ellipsis;">
 
            <form [formGroup]="withdrawForm">
                <ion-item style="margin-bottom:20px;">
                  <ion-input type="number" placeholder="Jumlah" formControlName="jumlah"></ion-input>
                </ion-item>
                
             <button ion-button style="
             float:right; margin-bottom:15px"(click)="tarikalert()">Tarik</button>
            </form>
         </ion-card-content>
       </ion-card>
       

     
        
     
  </ion-content>
  
  
  