// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// .bg-content {
//     color : #f44336;
// }

// body {
//     cursor: url("https://ionicframework.com/img/finger.png"), auto;
//   }
  
  
//   /*dark is class added to ion-content, since ion-conte*/
//   /*is made up of multiple pieces and is a pain to style each*/
//   .dark {
//     background-color: #f44336 !important;
//     color: #ffffff;
//   }
  
//   /*Set the background to transparent for ion-item*/
//   .dark .item {
//     background-color: transparent;
//     border: none;
//     border-top: 1px solid;
//     border-bottom: 2px solid;
//     border-color: #F0F1F1;
//     color: #F0F1F1;
//   }
  
//   /*Changes the border for the last item*/
//   .dark .item:last-child {
//     border-bottom: 1px solid #F0F1F1;
//   }
  
//   /*Ion-item adds item-complex and an inner div, .item-content*/
//   /* this needs to be transparent too, but doesnt need borders*/
//   .dark .item-complex .item-content, .dark .item-radio .item-content {
//     background-color: transparent;
//   }
  
  
//   /*Just makes the type white*/
//   .dark h2,
//   .dark h3,
//   .dark p,
//   .dark a {
//     color: #F0F1F1;
//   }

.icon{
  color: #f44336
}

.toolbar-background {
  background-color: #f44336;
}

.back-button-icon-md {
  color: #f8f8f8;
}