<ion-menu [content]="content">
  <ion-header class="bar-dark">
    <ion-toolbar class="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

<!--  class="dark" -->
  <ion-content >
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}">
        </ion-icon>
          {{p.title}}
          <!-- <ion-badge item-end>0</ion-badge> -->
      </button>
      <!-- <button menuClose ion-item *ngIf="LoginCheck()"  (click)="Logout()">
          Logout
        </button> -->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>