<!--
  Generated template for the PesanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menuu" name="menu"></ion-icon>
    </button>
    <ion-title>Tutorial</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-list>
   

  

    <ion-item>
      <button button-md-font-size ion-button type="submit" block (click)="tutor1()">Cara Memesan Jasa</button>
    </ion-item>
    <ion-item>
      <button button-md-font-size ion-button type="submit" block>Cara Donasi</button>
    </ion-item>
    <ion-item>
      <button button-md-font-size ion-button type="submit" block>Cara Membuat Jasa</button>
    </ion-item>
  </ion-list>



</ion-content>
