<!--
  Generated template for the PesanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menuu" name="menu"></ion-icon>
    </button>
    <ion-title>Isi Duit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


<h2 style="text-align:center;"> Duit Anda Saat Ini</h2>

<h2 style="text-align:center;"> Rp. {{loggedInUser.saldo}},-</h2>
<form [formGroup]="depositForm">
  <ion-list>
    <ion-list>
      <ion-item>
        <ion-label floating>Jumlah Pengisian</ion-label>
        <ion-select formControlName="jumlah">
          <ion-option value="10000">Rp. 10.000</ion-option>
          <ion-option value="20000">Rp. 20.000</ion-option>
          <ion-option value="50000">Rp. 50.000</ion-option>
          <ion-option value="100000">Rp. 100.000</ion-option>
          <ion-option value="500000">Rp. 500.000</ion-option>
          <ion-option value="1000000">Rp. 1.000.000</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Nama Bank</ion-label>
        <ion-select formControlName="bank">
          <ion-option value="BCA">BCA</ion-option>
          <ion-option value="Mandiri">Mandiri</ion-option>
          <ion-option value="CIMB Niaga">CIMB Niaga</ion-option>
          <ion-option value="Permata">Permata</ion-option>
          <ion-option value="BRI">BRI</ion-option>
          <ion-option value="BNI">BNI</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Nama Rekening Anda</ion-label>
        <ion-input required type="text" formControlName="namarekening"></ion-input>
      </ion-item>

     

      <ion-grid>
          <ion-row>
            <ion-col col-4></ion-col>
            <ion-col col-4>
                <button style="margin-bottom:15px; margin: center;height: 30px" ion-button block type="submit" (click)="Konfirmasi()" [disabled]="!depositForm.valid">Top Up</button>
            </ion-col>
            <ion-col col-4></ion-col>
          </ion-row>
        </ion-grid>

   
  </ion-list> 


    
  </ion-list>
</form>


</ion-content>
