page-konfirmasi {

    ion-avatar img  {
        width:100% !important;
        height : 100% !important;
        max-width: 100px !important;  //any size
        max-height: 100px !important; //any size
        }

        .menuu{
            color  : #f8f8f8;
        }

        .toolbar-background {
            background-color: #f44336;
          }

          h5.test {
            width: 11em; 
            border: 1px solid #000000;
            word-wrap: break-word;
        }

        .back-button-icon-md {
            color: #f8f8f8;
        }
}
