<!--
  Generated template for the KonfirmasiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menuu" name="menu"></ion-icon>
    </button>
    <ion-title>Konfirmasi Pemesanan</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <img [src]="parseUrl(user.pengemis.profile_picture)" style="vertical-align: middle;">
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <h5>{{user.pengemis.name}}</h5>
        </ion-row>
        <ion-row>
          <ion-grid>
            <ion-row>
              <ion-col col-5>
                <h6 style="text-align:left; color:#888888"><b>Level</b> </h6>
              </ion-col>
              <ion-col col-3>
                <h6 style="text-align:left; color: #f44336; ">{{user.pengemis.level}}</h6> 
              </ion-col>
              <ion-col>
                <h6 style="text-align:left; color:#f44336"><b>Rp {{jasa.harga}}</b></h6>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-col>
    </ion-row>
<!-- <ion-textarea [readonly]='true' style="border:2px solid #888888;" >Tugas Mobile 2</ion-textarea> -->
    <ion-card style="border:1px solid #888888; padding:1px;">
      <ion-card-header>
        <h3>{{jasa.nama}}</h3>
      </ion-card-header>
        <div style="border-bottom: 2px solid; color:#f44336; width:90%; 
        text-align:center; border-radius: 15px 1000px 30px 5px;"></div>
        <ion-card-content style="padding:15px; overflow: hidden; text-overflow: ellipsis;">
          <div> 
            <p>{{jasa.deskripsi}}</p>
          </div>
        </ion-card-content>
    </ion-card> 
  </ion-grid>
  <ion-list>
    <ion-item-divider >
      
  </ion-item-divider>
      <h6 style="font-size:10px">Data Pemesan</h6>
    <ion-grid style="font-size:12px; white-space: normal;">
    <ion-row class="test">
      <ion-col col-6 style="word-wrap: break-word;">
        <ion-row style="text-align:left">
            <ion-col >
              <h5 style="color:rgb(24, 24, 24); font-size:10px">Nama</h5>
              <h5 style="color:rgb(24, 24, 24); font-size:12px">{{nama}}</h5>
            </ion-col>
        </ion-row>

        <ion-row style="text-align:left">
            <ion-col>
              <h5 style="color:rgb(24, 24, 24); font-size:12px">Email: {{email}} </h5>
            </ion-col>
        </ion-row>
      </ion-col>

    <ion-col col-6>
        <ion-row>
            <ion-col>
            <h5 style="color:rgb(24, 24, 24); font-size:10px">Nomor Hp</h5>
            <h5 style="color:rgb(24, 24, 24); font-size:12px">{{nomor}}</h5>
            </ion-col>
        </ion-row>

        <ion-row style="text-align:left">
            <ion-col>
                <h5 style="font-size:10px; color:rgb(24, 24, 24);">Alamat</h5>
                <h5 style="color:rgb(24, 24, 24);font-size:12px; word-wrap:break-word; word-break:break-all;">{{alamat}}</h5>
            </ion-col>
        </ion-row>
    </ion-col>

    </ion-row>
    </ion-grid>
  </ion-list>


  <ion-grid>
    <ion-row>
      <ion-col>
          <button style="width:80px; height:40px;" type="submit" ion-button style="float: left; background-color:white; color:#f44336" >Kembali</button>
      </ion-col>
      <ion-col>
          <button ion-button type="submit" style="float:right" (click)="klik()">Pesan</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
