<ion-header>
    <ion-toolbar>
      <ion-title text-center>
        Daftar Jasa
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows" style="color:white"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <br>
    <p style="text-align: center"><b>Masukkan informasi jasa</b></p>
    <ion-grid>
      <form [formGroup] = "jasaForm" (ngSubmit)="OnSubmit()">
        <ion-list>
            <ion-item>
                <ion-label floating style="padding-left: 9px;">Judul Jasa</ion-label>
                <ion-input style="padding-left: 10px;" type="text" formControlName = "judulJasa" 
                value = "{{jasa.nama}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating style="padding-left: 9px;">Nominal Pembayaran</ion-label>
                <ion-input style="padding-left: 10px;" type="number" formControlName = "nominalPembayaran"
                value = "{{jasa.harga}}"></ion-input>
            </ion-item>
            
            <ion-grid>

              <ion-row style="height:200px">
                  <ion-item style="margin-top:10px;">
                    <ion-textarea autosize placeholder="Deskripsi" 
                    formControlName = "deskripsi"
                    value = "{{jasa.deskripsi}}"></ion-textarea>
                  </ion-item>
                  <ion-item>

                    </ion-item>
              </ion-row>

              <ion-row style="height:200px">
                  <ion-item  style="margin-top:10px;">
                    <ion-textarea autosize placeholder="Tag" 
                    formControlName = "tag" value = "{{jasa.tag}}"></ion-textarea>
                  </ion-item>
                  <ion-item>

                  </ion-item>
              </ion-row>
            </ion-grid>

            

            
         
        </ion-list>

        <div text-center>
        <button ion-button color="ganteng" style="font:'black'; width:40%; border:1px; color:white"
           [disabled] = "!jasaForm.valid">Daftar</button>
           
          </div>
      </form>
    </ion-grid>

    
  </ion-content>