<!--
  Generated template for the PesananmasukPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
  <ion-list>
      <ion-item-divider style="border-bottom: 1px solid grey; padding:0px;">
        Ada pesanan masuk dari Sukimin<br>[10:00:13]
        
      </ion-item-divider>
      <ion-item-divider style="border-bottom: 1px solid grey; padding:0px;">
        Ada pesanan masuk dari Sukimin<br>[10:00:13]
        
      </ion-item-divider>
      </ion-list>
 

</ion-content>

