<!--
  Generated template for the PesanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menuu" name="menu"></ion-icon>
    </button>
    <ion-title>Pemesanan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <p style="text-align:left;"> Masukan data anda sebelum melakukan pemesanan</p>
        <form [formGroup]="pesanForm">
          <ion-list>

              <ion-list radio-group formControlName="bertemu" >
                  <ion-item>
                    <ion-label>Bertemu</ion-label>
                    <ion-radio value="bertemu" checked (click)="radioCheck()"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label style="margin-bottom:10px;">Tidak Bertemu</ion-label>
                    <ion-radio value="tidak bertemu" (click)="radioCheck()"></ion-radio>
                  </ion-item>
                </ion-list>
            
            
                <ion-item *ngIf="bertemuField">
                  <ion-label style="color:black">Tanggal Bertemu</ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD" formControlName="tgl_bertemu"></ion-datetime>
                </ion-item>
                <ion-item *ngIf="bertemuField">
                  <ion-label style="color:black">Jam Bertemu</ion-label>
                  <ion-datetime displayFormat="HH:mm" formControlName="jam_bertemu"></ion-datetime>
                </ion-item>

                <ion-item *ngIf="!bertemuField">
                    <ion-label floating style="color:black">Cara Berkomunikasi</ion-label><br>
                    <ion-textarea [readonly]='false'
                    style="height:200px; border:2px solid transparent;" formControlName="caraberkomunikasi"></ion-textarea>
                  </ion-item>
                <!-- <ion-item *ngIf="bertemuField">
                  <ion-label style="color:black" floating>Tempat Bertemu</ion-label>
                  <ion-textarea type="text" rows="6" formControlName="tempat_bertemu"></ion-textarea>
                </ion-item> -->
              </ion-list>


            <ion-list *ngIf="bertemuField">
              <!-- <ion-item>
                <ion-label floating>Nama Lengkap</ion-label>
                <ion-input required type="text" formControlName="nama"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input required type="email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Nomor Handphone</ion-label>
                <ion-input required type="tel" formControlName="noHP"></ion-input>
              </ion-item> -->
              <!-- <ion-item> -->
                <ion-grid>
                  <ion-row>
                    <ion-col col-6>
                        <ion-label>Alamat</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <ion-textarea placeholder="Alamat" formControlName="alamat"></ion-textarea>
                    </ion-col>
                  </ion-row>
                    <button full=false style="width:100%; margin: center;" ion-button (click)="getMap()">Ambil Lokasi GPS Saat Ini</button>
                    <!-- <button style="width:100%; margin:center; background-color:white; color:#f44336" full=false ion-button (click)="SetAddress()">Gunakan Lokasi GPS</button> -->
                </ion-grid>
        
              <!-- </ion-item> -->
              <ion-item>
                <div #map id="map" style="width: 100%;"></div> 
              
              </ion-item>
             
            </ion-list>
           
            
        </form>
        <button ion-button type="submit"  block (click)="onSubmit()">Lanjut</button>
        <!-- [disabled]="!pesanForm.valid" -->
        <button button-md-font-size ion-button type="submit" block (click)="batal()">Batal</button>
    </ion-card-content>
  </ion-card>


</ion-content>
