<!--
  Generated template for the PesanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menuu" name="menu"></ion-icon>
    </button>
    <ion-title>Tutorial</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  
   

  

    <ion-slides>
      <ion-slide>
        <img src="assets/imgs/tutorial1.png" style="text-align:center; width:65%;">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/tutorial2.png" style="text-align:center;width:65%;">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/tutorial3.png" style="text-align:center;width:65%;">
        <button button-md-font-size ion-button type="submit" block (click)="kembali()">Saya Mengerti</button>
        
      </ion-slide>
    </ion-slides>


</ion-content>
