page-profile-pengemis {

    .profilePicture{
        width:150px; 
        max-width:150px; 
    }

    .back-button-icon-md {
        color: #f8f8f8;
    }
    
    .menuu{
        color  : #f8f8f8;
    }
}
