<!--
  Generated template for the ProfilePengemisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menuu" name="menu"></ion-icon>
    </button>
    <ion-title>Profile </ion-title>
  </ion-navbar>

</ion-header>





<ion-content padding>
  <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-avatar item-start>
            <img class = "profilePicture" 
              [src]="parseUrl(UserData.profile_picture)"
              (click)="ChangeProfilePicture()">
          </ion-avatar>
        </ion-col>
        <ion-col col-6>
            <ion-row>
                <h5>{{UserData.name}}</h5>
            </ion-row>
            <ion-row>
                <ion-grid>
                  <ion-row>
                    <ion-col col-5>
                        <h6 style="text-align:left; color:#888888">Level </h6>
                      </ion-col>
                      <ion-col col-3>
                          <h6 style="text-align:left; color: #f44336; ">76</h6>
                      </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-row>
            <ion-row>
                <button style="margin-bottom:15px; width:100%; padding:5px, 0px, 5px, 0px;" ion-button>Level up</button>
            </ion-row>
        </ion-col>
      </ion-row>
  </ion-grid>

    <div>
      <ion-textarea placeholder="Masukkan deskripsi anda" style="border:2px solid #888888; height:20%" [(ngModel)] = "UserData.deskripsi"></ion-textarea>
      <button ion-button (click)="CreateAlert(0,-1)" style="width:auto">Save</button>
    </div>
    
    <div style="text-align : center;">
      <ion-label><b>SALDO ANDA SAAT INI</b></ion-label>
      <h2 style="color:#f44336;"><b>Rp.{{UserData.saldo}}</b></h2> 
    </div>
    <br>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
              <button (click)="openModal()" ion-button item-end icon-left style="width:auto">
                <ion-icon name="add" style="color:#ffffff; float:left; padding-left:5px"></ion-icon>
              </button>
          </ion-col>
          <ion-col col-10>
              <ion-label style="float:right">Daftar jasa yang ingin kamu tawarkan</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>

    <ion-card *ngFor="let jasa of ListOfJasa">
      
        <ion-card-header>
            {{jasa.nama}}
            
          </ion-card-header>
          <div style="border-bottom: 2px solid; color:#f44336; width:90%; 
            text-align:center; border-radius: 15px 1000px 30px 5px;"></div>
    
          <ion-card-content>
          {{jasa.deskripsi}}
          </ion-card-content>        
          <ion-grid>
            <ion-row>
              <ion-col col-6 style="color:#f44336 ">
              Rp. {{jasa.harga}}
              </ion-col>
              <ion-col col-6 >
                <div style="float:right">
                  <ion-item>
                      <button style="float:right;" (click)="CreateAlert(2,jasa.id)" ion-button>Edit</button>
                      <button (click)="CreateAlert(1,jasa.id)" style="float:right; background-color:white; color:#f44336" ion-button>Delete</button>
                  </ion-item>
                 

                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-card>

</ion-content>

