<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrasi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

        
  <form [formGroup]="signupForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Nama</ion-label>
        <ion-input type="text" formControlName="nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Nomor Telepon</ion-label>
        <ion-input type="tel" formControlName="notelp"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Tanggal Lahir</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" formControlName="tgl_lahir"></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
            <ion-label>Kota Domisili</ion-label>
            <ion-select formControlName="kota">
              <ion-option value="Ambon">Ambon</ion-option>
              <ion-option value="Balikpapan">Balikpapan</ion-option>
              <ion-option value="Banda Aceh">Banda Aceh</ion-option>
              <ion-option value="Bandar Lampung">Bandar Lampung</ion-option>
              <ion-option value="Bandung">Bandung</ion-option>
              <ion-option value="Banjar">Banjar</ion-option>
              <ion-option value="Banjarbaru">Banjarbaru</ion-option>
              <ion-option value="Banjarmasin">Banjarmasin</ion-option>
              <ion-option value="Batam">Batam</ion-option>
              <ion-option value="Batu">Batu</ion-option>
              <ion-option value="Bau-Bau">Bau-Bau</ion-option>
              <ion-option value="Bekasi">Bekasi</ion-option>
              <ion-option value="Bengkulu">Bengkulu</ion-option>
              <ion-option value="Bima">Bima</ion-option>
              <ion-option value="Binja">Binja</ion-option>
              <ion-option value="Bitung">Bitung</ion-option>
              <ion-option value="Blitar">Blitar</ion-option>
              <ion-option value="Bogor">Bogor</ion-option>
              <ion-option value="Bontang">Bontang</ion-option>
              <ion-option value="Bukittinggi">Bukittinggi</ion-option>
              <ion-option value="Cilegon">Cilegon</ion-option>
              <ion-option value="Denpasar">Denpasar</ion-option>
              <ion-option value="Depok">Depok</ion-option>
              <ion-option value="Dumai">Dumai</ion-option>
              <ion-option value="Gorontalo">Gorontalo</ion-option>
              <ion-option value="Jambi">Jambi</ion-option>
              <ion-option value="Jayapura">Jayapura</ion-option>
              <ion-option value="Kediri">Kediri</ion-option>
              <ion-option value="Kendari">Kendari</ion-option>
              <ion-option value="Jakarta Barat">Jakarta Barat</ion-option>
              <ion-option value="Jakarta Pusat">Jakarta Pusat</ion-option>
              <ion-option value="Jakarta Selatan">Jakarta Selatan</ion-option>
              <ion-option value="Jakarta Timur">Jakarta Timur</ion-option>
              <ion-option value="Jakarta Utara">Jakarta Utara</ion-option>
              <ion-option value="Kotamobagu">Kotamobagu</ion-option>
              <ion-option value="Kupang">Kupang</ion-option>
              <ion-option value="Langsa">Langsa</ion-option>
              <ion-option value="Lhokseumawe">Lhokseumawe</ion-option>
              <ion-option value="Lubuklinggau">Lubuklinggau</ion-option>
              <ion-option value="Madiun">Madiun</ion-option>
              <ion-option value="Magelang">Magelang</ion-option>
              <ion-option value="Makassar">Makassar</ion-option>
              <ion-option value="Malang">Malang</ion-option>
              <ion-option value="Manado">Manado</ion-option>
              <ion-option value="Mataram">Mataram</ion-option>
              <ion-option value="Medan">Medan</ion-option>
              <ion-option value="Metro">Metro</ion-option>
              <ion-option value="Meulaboh">Meulaboh</ion-option>
              <ion-option value="Mojokerto">Mojokerto</ion-option>
              <ion-option value="Padang">Padang</ion-option>
              <ion-option value="Padang Sidempuan">Padang Sidempuan</ion-option>
              <ion-option value="Padangpanjang">Padangpanjang</ion-option>
              <ion-option value="Pagaralam">Pagaralam</ion-option>
        <ion-option value="Palangkaraya">Palangkaraya</ion-option>
        <ion-option value="Palembang">Palembang</ion-option>
        <ion-option value="Palopo">Palopo</ion-option>
        <ion-option value="Palu">Palu</ion-option>
        <ion-option value="Pangkalpinang">Pangkalpinang</ion-option>
        <ion-option value="Parepare">Parepare</ion-option>
        <ion-option value="Pariaman">Pariaman</ion-option>
        <ion-option value="Pasuruan">Pasuruan</ion-option>
        <ion-option value="Payakumbuh">Payakumbuh</ion-option>
        <ion-option value="Pekalongan">Pekalongan</ion-option>
        <ion-option value="Pekanbaru">Pekanbaru</ion-option>
        <ion-option value="Pematangsiantar">Pematangsiantar</ion-option>
        <ion-option value="Pontianak">Pontianak</ion-option>
        <ion-option value="Prabumulih">Prabumulih</ion-option>
        <ion-option value="Probolinggo">Probolinggo</ion-option>
        <ion-option value="Purwokerto">Purwokerto</ion-option>
        <ion-option value="Sabang">Sabang</ion-option>
        <ion-option value="Salatiga">Salatiga</ion-option>
        <ion-option value="Samarinda">Samarinda</ion-option>
        <ion-option value="Sawahlunto">Sawahlunto</ion-option>
        <ion-option value="Semarang">Semarang</ion-option>
        <ion-option value="Serang">Serang</ion-option>
        <ion-option value="Sibolga">Sibolga</ion-option>
        <ion-option value="Singkawang">Singkawang</ion-option>
        <ion-option value="Solok">Solok</ion-option>
        <ion-option value="Sorong">Sorong</ion-option>
        <ion-option value="Subulussalam">Subulussalam</ion-option>
        <ion-option value="Sukabumi">Sukabumi</ion-option>
        <ion-option value="Sungai Penuh">Sungai Penuh</ion-option>
        <ion-option value="Surabaya">Surabaya</ion-option>
        <ion-option value="Surakarta">Surakarta</ion-option>
        <ion-option value="Tangerang">Tangerang</ion-option>
        <ion-option value="Tangerang Selatan">Tangerang Selatan</ion-option>
        <ion-option value="Tanjungbalai">Tanjungbalai</ion-option>
        <ion-option value="Tanjungpinang">Tanjungpinang</ion-option>
        <ion-option value="Tarakan">Tarakan</ion-option>
        <ion-option value="Tebingtinggi">Tasikmalaya</ion-option>
        <ion-option value="Tegal">Tegal</ion-option>
        <ion-option value="Ternate">Ternate</ion-option>
        <ion-option value="Tidore Kepulauan">Tidore Kepulauan</ion-option>
        <ion-option value="Tomohon">Tomohon</ion-option>
        <ion-option value="Tuai">Tuai</ion-option>
        <ion-option value="Yogyakarta">Yogyakarta</ion-option>

            </ion-select>
          </ion-item>
    </ion-list>
     
    


      <ion-item>
        <ion-label>Nama Bank</ion-label>
        <ion-select formControlName="nama_bank">
          <ion-option value="BCA">BCA</ion-option>
          <ion-option value="Mandiri">Mandiri</ion-option>
          <ion-option value="BNI">BNI</ion-option>
          <ion-option value="BTN">BTN</ion-option>
          <ion-option value="CIMB">CIMB</ion-option>
        </ion-select>
      </ion-item>
 
      
    <ion-list>
      <ion-item>
        <ion-label floating>Nomor Rekening</ion-label>
        <ion-input type="number" formControlName="norek"></ion-input>
      </ion-item>
    </ion-list>
      
    
    <button babi ion-button type="submit" block [disabled]="!signupForm.valid" (click)="onSubmit()">Register</button>
  </form>
</ion-content>
