<!--
  Generated template for the PermintaanmasukPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  
    <ion-list>

      <ion-item-divider style="border-bottom: 1px solid grey; padding:0px;" *ngFor="let permintaan of dataPermintaan">
        <ion-grid style="font-size:12px; white-space: normal;">
          <ion-row class="test">
            <ion-col col-6 style="word-wrap: break-word;">
              <ion-row>
                <h6 style="font-size:10px">{{permintaan.jasa.nama}}</h6>
                <h5 style="color:rgb(24, 24, 24); font-size:14px">{{permintaan.jasa.deskripsi}}</h5>
              </ion-row>

              <br>

              <ion-row>
                <h6 style="font-size:10px">Informasi pemesan</h6>
              </ion-row>

              <ion-row style="text-align:left">
                <ion-col>
                  <h5 style="color:rgb(24, 24, 24); font-size:10px">Nama</h5>
                  <h5 style="color:rgb(24, 24, 24); font-size:12px">{{permintaan.transaksi.nama_pemesan}}</h5>
                </ion-col>
              </ion-row>

              <ion-row style="text-align:left">
                <ion-col>
                    <h5 style="color:rgb(24, 24, 24); font-size:12px">Nomor HP</h5>
                    <h5 style="color:rgb(24, 24, 24); font-size:12px">{{permintaan.transaksi.telefon}}</h5>
                </ion-col>
              </ion-row>

              <ion-row style="text-align:left">
                <ion-col>
                    <h5 style="color:rgb(24, 24, 24); font-size:10px">Email</h5>
                    <h5 style="color:rgb(24, 24, 24); font-size:12px">{{permintaan.transaksi.email}}</h5>
                </ion-col>
              </ion-row>

              <ion-row style="text-align:left">
                <ion-col>
                  <h5 style="color:rgb(24, 24, 24); font-size:12px">Alamat</h5>
                
                  <h5 style="color:rgb(24, 24, 24); font-size:12px; word-wrap:break-word; word-break:break-all;">
                      {{permintaan.transaksi.alamat}}
                  </h5>
                </ion-col>
              </ion-row>
            </ion-col>
              
            <ion-col col-6>
              <ion-row>
                <p *ngIf = "permintaan.transaksi.bertemu" style="text-align:right">{{permintaan.transaksi.jam_bertemu}}</p>
              </ion-row>

              <br>

              <ion-row>
                <h6 style="font-size:10px">Informasi pertemuan</h6>
              </ion-row>

              <ion-row style="text-align:left">
                <ion-col>
                  <h5 style="color:rgb(24, 24, 24); font-size:10px">Status</h5>
                  <h5 *ngIf = "permintaan.transaksi.bertemu" style="color:rgb(24, 24, 24); font-size:12px">Bertemuan</h5>
                  <h5 *ngIf = "!permintaan.transaksi.bertemu" style="color:rgb(24, 24, 24); font-size:12px">Tidak Bertemuan</h5>
                </ion-col>
              </ion-row>

              <ion-row style="text-align:left">
                <ion-col>
                  <h5 style="color:rgb(24, 24, 24); font-size:10px">Tanggal Bertemuan</h5>
                  <h5 style="color:rgb(24, 24, 24); font-size:12px">{{permintaan.transaksi.tanggal_bertemu}}</h5>
                </ion-col>
              </ion-row>
              
              <ion-row>
                <ion-col>
                    <h5 style="color:rgb(24, 24, 24); font-size:10px">Tempat Bertemuan</h5>
                    <h5 *ngIf = "permintaan.transaksi.bertemu" style="color:rgb(24, 24, 24); font-size:12px; word-wrap:break-word; word-break:break-all;
                      padding-left:4px">
                      {{permintaan.transaksi.tempat_bertemu}}
                    </h5>
                </ion-col>
                  
              </ion-row>

            </ion-col>
          </ion-row>
          
          
        </ion-grid>
        <button style="float:right; margin-bottom:15px" ion-button (click)="jasaAccepted()">Terima</button>
        <button style="float:right; margin-bottom:15px; background-color:white; color:#f44336" (click)="deletePermintaan()" ion-button>Tolak</button>
        
    
      </ion-item-divider>
      
      </ion-list>
  </ion-content>
